<a href="https://colab.research.google.com/github/iamdas3/ML-ME781/blob/master/170010015_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Prime Number Problem

This block is a trial block to try and catch error as it is going to be further used in the program to give a proper output for invalid inputs rather than throwing errors

In [1]:
try:
  print(int('XYZ'))
except:
  print("Not a number")

Not a number

Code to check whether the given number is a prime number and will use this fuction later rather than again writing the same inside the original program block

In [2]:
def prime(n):
  count=0
  for i in range(1, n+1):
    if n%i==0:
      count += 1
    else:
      continue
  if count == 2:
    return True
  else:
    return False

In [3]:
prime(24)

False

In [4]:
prime(7)

True

In [5]:
prime(31)

True

In [6]:
def get_primenumbers(n):
  try:
    n_i = int(n)
    if n_i<0:
      print("You have entered wrong input")
    l = []
    for i in range(n_i):
      if prime(i):
        l.append(i)
      else:
        continue
    print(l)
  except:
    print("You have entered wrong input")

In [7]:
get_primenumbers('xyz')

You have entered wrong input

In [8]:
get_primenumbers('13')

[2, 3, 5, 7, 11]

In [9]:
get_primenumbers(13.5)

[2, 3, 5, 7, 11]

In [10]:
get_primenumbers(-9)

You have entered wrong input
[]

In [11]:
get_primenumbers('9')

[2, 3, 5, 7]

In [12]:
get_primenumbers('a')

You have entered wrong input

In [13]:
get_primenumbers(7.893)

[2, 3, 5]

#Recursive Problems

Just wanted to check how recursive function works and how it can replace for loop so that I can use recursion as asked in the question rather than for loop

In [14]:
def for_factorial(n):
  prod = 1
  for i in range(n, 1, -1):
    print(i)
    prod *= i

  print(prod)
for_factorial(7)

7
6
5
4
3
2
5040

In [15]:
def factorial(n):
  if n==1:
    return n
  else:
    print(n)
    return n*factorial(n-1)
factorial(7)

7
6
5
4
3
2

5040

#Tower of Hanoi

The following video explains very clearly:
https://www.youtube.com/watch?v=cnQ6T8GeXFM

It says that I have to move all the disks except the largest one from source to the workspace and then move the largest one to the destination and hence keep repeating such steps by placing the second largest over the largest but to do that consider the others as source, workspace and destination respectively.

Hence, if we have 3 rings to be put from source to destination, our aim is to first put the 2 smaller rings on workspace and move the largest onto the destination.
Now we have 2 rings on workspace and 1 on destination; now the workspace is our source; the previous source becomes our workspace; hence we move the smallest ring to the workspace and then 2nd smallest over destination and finally the smallest on top of all.

##Algorithm

Till the time there is some disk in source or workspace, we need to continue shifting the disks till the time all the disks are at the destination.
So, looping over for n, till the time n=0 for source and workspace; we move (n-1) disks from source to auxiliary and nth disk from source to destination and then source becomes workspace and workspace into source and hence this time move (n-2) disk from workspace(now source) to source(now workspace) and (n-1)th from workspace(source) to destination.

Then repeat till n=0, i.e. the number of disks in workspace and source becomes 0.

In [16]:
count = 1
def HanoiTower(n, source, destination, workspace):
  global count
  if n>0:
    HanoiTower(n-1, source, workspace, destination)

    delete = source.pop()
    destination.append(delete)

    print("Step "+str(count)+" = ", A, B, C)
    count += 1

    HanoiTower(n-1, workspace, destination, source)


if __name__ == '__main__':
  n = int(input('input = '))
  A = [i for i in range(n, 0, -1)]
  B = []
  C = []

  result = HanoiTower(n, A, B, C)

input = 5
Step 1 =  [5, 4, 3, 2] [1] []
Step 2 =  [5, 4, 3] [1] [2]
Step 3 =  [5, 4, 3] [] [2, 1]
Step 4 =  [5, 4] [3] [2, 1]
Step 5 =  [5, 4, 1] [3] [2]
Step 6 =  [5, 4, 1] [3, 2] []
Step 7 =  [5, 4] [3, 2, 1] []
Step 8 =  [5] [3, 2, 1] [4]
Step 9 =  [5] [3, 2] [4, 1]
Step 10 =  [5, 2] [3] [4, 1]
Step 11 =  [5, 2, 1] [3] [4]
Step 12 =  [5, 2, 1] [] [4, 3]
Step 13 =  [5, 2] [1] [4, 3]
Step 14 =  [5] [1] [4, 3, 2]
Step 15 =  [5] [] [4, 3, 2, 1]
Step 16 =  [] [5] [4, 3, 2, 1]
Step 17 =  [1] [5] [4, 3, 2]
Step 18 =  [1] [5, 2] [4, 3]
Step 19 =  [] [5, 2, 1] [4, 3]
Step 20 =  [3] [5, 2, 1] [4]
Step 21 =  [3] [5, 2] [4, 1]
Step 22 =  [3, 2] [5] [4, 1]
Step 23 =  [3, 2, 1] [5] [4]
Step 24 =  [3, 2, 1] [5, 4] []
Step 25 =  [3, 2] [5, 4, 1] []
Step 26 =  [3] [5, 4, 1] [2]
Step 27 =  [3] [5, 4] [2, 1]
Step 28 =  [] [5, 4, 3] [2, 1]
Step 29 =  [1] [5, 4, 3] [2]
Step 30 =  [1] [5, 4, 3, 2] []
Step 31 =  [] [5, 4, 3, 2, 1] []